@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #deeaee;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 25px;
  text-rendering: optimizeLegibility;
}




.row {

max-width: 80%;
margin: 0 auto;

}

a {
color: inherit;
text-decoration: none;
}

nav {

  padding-top: 20px;

}

.logo{
  float: left;
}



nav li{
  float: right;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}


header {

    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.5)), url(images/gym.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;


}

h1 {

  margin: 0;

}

#comingSoon {

font-family: 'Montserrat';
font-size: 50px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;

}

p {

  font-size: 15px;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.butt {

display: inline-block;
padding: 10px 30px;
font-family: 'Montserrat';
color: white;
font-weight: 300px;
background-color: rgba(0,0,0,.5);
border-radius: 50px;



}

.footer {

background-color: rgba(0,0,0,1);

text-align: center;

}
