@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700i|Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Courgette|Pacifico');


#welcome {


position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;

}

#welcome h1, .form h1 .success h1, #habit-container h1{
    font-family: 'Cabin';
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
    color: #FFF;
}
#welcome h1{
    animation-name: slideIn;
    animation-duration: 1.5s;

}

@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to{
        margin-left:0%;
        width: 100%;
    }
}

#welcome input{

  margin: 20px 15px 20px 15px;;

}






/****** NAVBAR SECTION *******/

nav {

  padding-top: 20px;

}

.tracker-page-header{
    height: 15%;
    background: none;
}

.logo{
    height: 75px;
  width: auto;
  float: left;
  margin-top: 20px;
    opacity: 0.9;

}

.tracker-page-logo{
    max-height: 5em;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 1;
}

.habit-head {
    height: 20%;
}

.navlinks li{

    float: right;
    display: inline-block;
    list-style: none;
padding-top: 15px;
font-size: 20px;
text-transform: uppercase;
    font-weight: 800;
    margin-left: 2em;

}
.navlinks:last-child {
    margin-left: 0;
}

#homeButton{
    color: #86C232;
}


.navlinks li:hover{

border-bottom: 2px solid #86C232;

}



/****** ABOUT US SECTION *******/

.section-about {

background-color: #222629;
text-align: center;
color: white;

}



.section-about h2, .success p{

    margin: auto;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.2em;
    font-family: "Cabin", sans-serif;
    width: 80%;

}

.aboutus {

  width: 80%;
  margin: auto;

}

.aboutus img{
    width: 50%;
    height: auto;

}
.aboutus h3{
     text-transform: uppercase;
     margin-bottom: 0.5em;
 }

.aboutus p{

width: 80%;
text-align: center;
margin: auto;
    font-size: 0.65em;
font-weight: 300;
font-family: "Lato", sans-serif;
    opacity: 0.8;


}


.aboutus li{

  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  list-style: none;

}






/***************** Habit tracker section ********************/


.section-habit {

background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,.9)), url(images/4.png);
background-size: cover;
background-position: center;
color:white;

}


.habit-div {

  float: left;
  width: 50%;
  margin-top: 1em;

}


.habit-div li{
font-family: "Cabin", sans-serif;
font-size: 0.8em;
    font-weight: 300;
margin-bottom: 1.2em;
list-style: none;
text-align: left;
    opacity: 0.9;
}

.habit-div li:before {
    content:'\2713 ';
    display:inline-block;
    vertical-align: top;
    line-height: 1em;
    width: 1.2em;
    height:1em;
    margin-right: 0.3em;
    text-align: center;
    color: #86c232;
}

.habit-div ul{
    margin-left: 0.8em;
    margin-bottom: 1em;

}
.habit-div{

    text-align: center;
    overflow: hidden;
}

.habit-div img{
    height: 85%;
    width: auto;
    border-radius: 10px 10px 0 0;
    opacity: 0.8;
}



/****** ENTIRE WEBSITE SECTION *******/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {

  background: #222629;
  color: #deeaee;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 25px;
  text-rendering: optimizeLegibility;

}

.full-section{

height: 100vh;
overflow: auto;

}

.row {

max-width: 80%;
margin: 0 auto;

}

a {

color: inherit;
text-decoration: none;

}

.section-headers, .aboutus h3 {
    display: block;
    margin: 2em 0;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #86c232;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .2)), url(images/running.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
    font-family: 'Montserrat';
    color: white;
}




h1 {

  margin: 0;

}

p {

    font-size: 15px;

}

.butt, .butt2{

display: inline-block;
    font-family: "Lato", sans-serif;
border: 0;
padding: 0.35em 1.2em;
color: #DDD;
font-weight: 700;
background-color:rgba(0,0,0,.4);
border-radius: 20px;
font-size: 0.8em;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align: center;
    transition: all 0.2s;
}



.butt:hover, .butt2:hover {

background-color: rgba(0,0,0,.9);

}

.butt2{
margin-top: 20px;
padding: 0.6em 1.5em;
    font-size: 0.8em;
background-color: rgba(0,0,0, .4);
}



#sign-btn {

margin-top: 20px;

}



.center {

text-align: center;

}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/**               LOGIN PAGE                **/

/**************MODAL BOXES**************/

/*************** TAKEN AND ADAPTED FROM W3SCHOOLS.COM *********************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 1em;
}

/* The Close Button */
.close {
    color: #d7443f;
    float: left;
    font-size: 1em;
    font-weight: 900;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#habitmsg {

color:white;
font-family: 'Lato', sans-serif;
font-size: 1.5em;

}
/***************************************************************/

input[type="submit"]{

	margin-top: 5%;

}

.form {

  margin: auto;
  text-align: center;
  width: 30%;
    font-family: 'Lato', sans-serif;

}

.form .label {
    font-size: 0.7em;
    font-style: normal;
    opacity: 1;
    text-transform: uppercase;
}

.form p{
    font-weight: 700;
    font-style: italic;
    font-size: 0.8em;
    color: #fff;
    opacity: 0.9;
}

.form h1, .success h1{
    text-transform: uppercase;
    margin-bottom: 1em;
    color: #86c232;
}

.form a{
  color: #61892f;
}



.input-text, .input-email, .input-password{

	background: rgba(0,0,0, 0.9);
	border: 2px solid #DDDDDD;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 0.8em;
	font-weight: 300;
	margin-bottom: 1em;
  width: 100%;
  text-align: center;
  border-radius: 20px;
    opacity: 0.9;

}

#signup{

  margin-top: 5em;

}

#login {

  margin-top: 30vh;

}
.errormsg{
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;

}


.success {

  margin: auto;
  text-align: center;
  width: 80%;
  margin-top: 30vh;

}


.success p{
    margin-bottom: 5%;

}

/*             HABIT                  */

/******* PROFILE DISPLAY *****/


.profile {

height:auto;
margin-top: 1em;

}

.profileDiv{

box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
color: white;
background-color: #474B4F;
height: 100%;
border-radius:5px;
border: 2px solid #555;


}

.profilePic {
    display: inline-block;
    margin: 1em 4em 0.8em 2em;

}

.profilePic img{

height: 7em;
border-radius: 50%;
border: 2pt rgba(14,17,17, 0.7);
}

.userInfo {
    height: 0.8em;
    font-size: 1.5em;
    min-width: 10em;
    max-width: 13em;

}
.userInfo ul{
list-style: none;
}

/*the level-up button */
.userlevel{
    float: right;
    display: inline-block;
    width: 12.5em;
    text-align: center;
    height: 4em;
}

.userlevel button{
    height: 70%;
    margin-top: 20%;
    background-color: #1db954;
    color: white;
    width: 70%;
    font-size: 1.5em;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    transition: all 0.2s;
    opacity: 0.8;

}

.userlevel button:hover{
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,.2)) #1db954;
}

/*The point display*/
.point-display{
    display: inline-block;
    float: right;


}

.userPoints {
    display: inline-block;
    width: 9em;
    text-align: center;

}

.points{
    width: 80%;
    margin-top: 15%;
    background-color: #222629;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
}

.point1{
    height: 25%;
    color: #86c232;
    font-size: 1em;
    width: 70%;
    margin: auto;
    text-transform: uppercase;


}
.point2{
    margin: auto;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}

.usernamep{
    margin-left: 0.5em;
    color: #86c232;
    text-transform: uppercase;
}

.usernamep2 {
    font-family: "lato", sans-serif;
    margin-right: 0.5em;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    opacity: 0.8;
    padding: 0;


}

/****** Habit Tracker*******************************/

.grid-container{
    margin: 1em auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(2em, auto);
    grid-template-areas:
            "today"
            "insert-bar"
            "habit-tracker";

    grid-row-gap: 2em;
}

.habit-body {
  background: #222629;
	font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.category, .duration, .input, .button-container{

    display: inline-block;
}





#today, #insert, .habit-tracker{
    background-color: #474B4F;
    color: #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #555;
}

/*pulldown*/
.bootstrap-select{
    max-width: 120px;
}

.bootstrap-select .btn{
    margin: 0 1em 0.5em 0;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.9;

}


#today{
    grid-area: today;
	font-weight: 700;
	font-size: 2.4em;
    text-align: center;
    width: 100%;
    font-family: "Cabin",sans-serif;
    text-transform: uppercase;

}

.category, .input{
    margin-left: 1em;
}



#insert{
    grid-area: insert-bar;
    height: auto;
}


.habit-tracker{
    grid-area: habit-tracker;
    padding-bottom: 2em;
    margin: auto;
}

#insert h2{
    margin: 0.4em 0 0.8em 1em;
    font-style: italic;
    font-family: "Cabin";
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#insert .label, .completed .time{
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 0.2em 0;
    color: #86c232;

}
.habit-input-text{
	background: rgba(0,0,0, 0.5);
	border: 0;
	border-bottom: 1px solid #fff;
	color: white;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
    padding: 3px 10px;
    border-radius: 5px;
    width: auto;


}

#title::placeholder{
    text-transform: uppercase;
    color: #DDD;
    font-weight:700;
    opacity: 0.5;
}


#addHabit{
    margin-left: 5em;
    text-align: center;
    text-transform: uppercase;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	background: #86c232;
    font-size: 1.2em;
    color: white;
    font-weight: 700;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);

}

#addHabit:hover {
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,.2)) #86c232;
}



#habit-container{
    width: 100%;
    margin: 2% auto 0 auto;
    padding: 0 1.5em 1.5em 1.5em;
    color: white;

}


#habit-container h1{
    width: 100%;
    background-color: #222629;
    border: 0;
    border-radius:5px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 1em;

}
.habitStatus{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 3fr 1.25fr;
    grid-column-gap: 5px;
    margin:0.5em auto;
    width: 95%;
	border: 0;
	border-radius: 5px;
	background-color: rgba(0,0,0, 0.3);
    font-family: "lato", sans-serif;

}

.icon{
    margin: 0.5em;
    position:relative;
}


.habitTitle {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 900;
	color: white;
    min-width: 2fr;
    max-width: 2fr;
    overflow: hidden;



}
.habitTitle, .completed{
    overflow: hidden;
    padding-top: 0.3em;

}
.completed > .streak{
    margin: 0 10px;
    position:relative;
    font-size: 2em;
    font-weight: 900;
    color: white;
    max-width: 8em;
}

.remove{
    background-color: rgba(215,68,63,0.8);
    float: left;
}

.remove:hover{
    background-color: red;
    opacity: 0.8;

}

.habit-button {
    margin: 0.5em;
    display: inline-block;
    font-family: "Cabin", sans-serif;
    padding: 5px  10px;
    border-radius: 5px;
    font-size: 1.2em;
    border-style: hidden;
    text-transform: uppercase;
}

.tick{
    background-color: rgba(76,175,80, 0.8);

}

.tick:disabled{
    opacity: 0.7;
}

.switch{
    float: right;
}

/*responsive design - iphone 6,7,8*/

@media only screen and (max-device-width: 800px){

    #today, #insert h2, .habitStatus h1 {
        font-size: 1.5em;
        font-family: "Lato", sans-serif;
    }

    #welcome h1, .form h1 .success h1, #habit-container h1{
        font-size:1.8em;
        font-family: "Lato", sans-serif;
    }

    #insert{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(2em, auto);
        grid-row-gap: 10px;
        padding: 5px;
        grid-template-areas:
            "header header"
            "category timeframe"
            "input input"
            "button button";

    }

    #insert h2{
        grid-area: header;
    }

    #insert .category {
        grid-area: category;
    }

    #insert .input{
        grid-area: input;
    }

    #insert .button-container{
        grid-area: button;
        margin-left: auto;
        margin-right: auto;

    }

    #insert #addHabit{
        margin-right: 0;
    }

    .grid-container {
        margin: 2em auto;
        display:grid;
        grid-auto-rows: minmax(2em, auto);
        grid-row-gap: 20px;
    }

    .full-section{
        height: 50vh;
    }

    .aboutus{
        width: 90%;
    }


}

