@import url('https://fonts.googleapis.com/css?family=Montserrat');
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Courgette|Pacifico');


#welcome {

font-family: 'Montserrat';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;

}

#welcome h1{

  font-size: 1.9em;
  margin-bottom: 20px;

}
#welcome input{

  margin: 20px 15px 20px 15px;;

}






/****** NAVBAR SECTION *******/

nav {

  padding-top: 20px;

}

.logo{
  height: 75px;
  width: auto;
  float: left;
  margin-top: 20px;

}

.logo-habit{
  height: 75px;
  width: auto;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

#page {
font-weight: bold;
}

nav li{
  float: right;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.navlinks li{
padding-top: 15px;
font-size: 20px;
text-transform: uppercase;


}
.navlinks li:hover{

border-bottom: 2px solid #f5f2dc;

}

.habit-head {

    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.98)), url(images/running.jpg);
    background-size: cover;
    background-position: center;
    height: 20%;
    overflow: auto;
	   font-family: 'Montserrat';
    color: white;

}

/****** ABOUT US SECTION *******/

.section-about {
background-color: #D7443F;
text-align: center;
color: white;

}

.section-about h1{
  margin-bottom: 15px;
}

.section-about h2{
  margin: auto;
  margin-bottom: 30px;
  font-size: 0.9em;
  width: 60%;
}



.aboutus {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.aboutus img{
  filter: invert(100%);
}
.aboutus p{

width: 70%;
text-align: center;
margin: auto;
font-size: 0.7em;
font-weight: bold;

}


.aboutus li{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  list-style: none;


}






/***************** Habit tracker section ********************/

.section-habit {
background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,.6)), url(images/4.png);
background-size: cover;
background-position: center;
color:white;


}

.habit-div {

  float: left;
  width: 50%;
  margin-top: 10%;

}



.habit-div li{

font-size: 1em;
margin-bottom: 20px;
list-style: none;
text-align: center;

}

.habit-div div{

text-align: center;

}
.habit-div ul{
margin-left: 40px;
margin-bottom: 40px;


}

.habit-div img{

  height: 70%;
  width: 70%;

}


/****** ENTIRE WEBSITE SECTION *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background: #0e1111;
  color: #deeaee;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 25px;
  text-rendering: optimizeLegibility;
}

.full-section{

height: 100vh;
overflow: auto;

}


.row {

max-width: 80%;
margin: 0 auto;

}

a {
color: inherit;
text-decoration: none;
}


.section-headers{

font-size: 3.5em;
text-align: center;
padding: 30px 0px 20px 0px;

}

header {

    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.2)), url(images/running.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;


}

h1 {

  margin: 0;

}

p {

  font-size: 15px;

}

.butt {

display: inline-block;
padding: 10px 30px;
font-family: 'Montserrat';
color: white;
font-weight: 300px;
background-color: rgba(0,0,0,.5);
border-radius: 50px;
font-size: 1em;

}


.butt:hover {

display: inline-block;
padding: 10px 30px;
font-family: 'Montserrat';
color: white;
font-weight: 300px;
background-color: rgba(0,0,0,.9);
border-radius: 50px;
font-size: 1em;

}

.butt2{

display: inline-block;
padding: 20px 60px;
font-family: 'Montserrat';
color: white;
font-weight: 300px;
font-size: 0.8em;
background-color: rgba(0,0,0, 0);
border-radius: 50px;

}

.butt2:hover{

display: inline-block;
padding: 20px 60px;
font-family: 'Montserrat';
color: white;
font-weight: 300px;
font-size: 0.8em;
background-color: rgba(0,0,0, 0.7);
border-radius: 50px;

}




.center {

text-align: center;

}



.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/**               LOGIN PAGE                **/


input[type="submit"]{
	margin-top: 5%;


}
.form {

  margin: auto;
  text-align: center;
  width: 30%;
}
.form p{
  font-size: 0.7em;
}
.form a{
  color: #D7443F;
}

.form h1{
  margin-bottom: 10%;
}

.input-text, .input-email, .input-password{
	background: rgba(0,0,0, 0.5);
	border: 0;
	border-bottom: 1px solid #333;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 1.0em;
	font-weight: 250;
	margin-bottom: 20px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

#signup{
  margin-top: 20vh;
}

#login {
  margin-top: 30vh;
}

.error{

font-size: 0.8em;
margin-bottom: 10px;
color: #d14836;
background: rgba(0,0,0, 0.5);
border-radius: 10px;

}

.success {

  margin: auto;
  text-align: center;
  width: 30%;
  margin-top: 30vh;


}

.success h1{
  color: #4CAF50;
  font-size: 3em;
}
.success p{
  font-size: 0.8em;
  margin-bottom: 7%;
}



/*             HABIT                  */

/******* PROFILE DISPLAY *****/

.profile {
background-color: #d7443f;
height:20vh;
margin:auto;
}
.profileDiv{

width: 80%;
margin:auto;
color: white;
font-family: 'Courgette';
font-size: 1.5em;

}
.profilePic {
width: 15%;
float: left;
display: block;

}

.profilePic img{
padding-top: 2vh;
width: 15vh;
border-radius: 50%;

}
.profilePic2 {
padding-top: 4vh;
width: 70%;
float: left;


}
.profilePic2 ul{
list-style: none;


}

.profilePic3 {
padding-top: 4vh;
width: 15%;
float: right;


}

/****** *******************************/

.habit-body {
  background: #0e1111;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
  overflow-x: hidden;
}
#today{
	padding-right: 50px;
	width:auto;
	font-weight: 500;
	font-size: 2.4em;
	margin-bottom: 20px;
	border: 1px solid #d7443f;
	background:#d7443f;
	border-radius:0 20px 20px 0;
	box-shadow: 10px 10px 5px black;
	display: inline-block;
  margin-top: 20px;
  color: white;
}

.category, .input{
	margin-left:50px;
}

.bootstrap-select{
	max-width: 200px;
}

.bootstrap-select .btn{
	margin-bottom: 10px;
	font-size: 1.2em;

}

.category, .input, .button, .icon, .switch, .completed, .habitTitle{
    display: inline;
}

#insert{
	border: 1px solid #485058;
	background:#333A42;
	border-radius:0 20px 0 20px;
	box-shadow: 10px 10px 5px black;
  color: white;

}


#insert h2{
	margin-left: 20px;
}

.habit-input-text{
	background: rgba(0,0,0, 0.5);
	margin-left: 5px;
	border: 0;
	border-bottom: 1px solid #fff;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 20px;
  padding: 3px 0px 3px 10px;
  border-radius: 5px;

}

#title::placeholder{

color: white;

}

.habit-input-number{
	width: 130px;
}


#addHabit{
	padding: 8px;
	border: 0;
	border-radius: 5px;
	margin-left: 100px;
	background: #D7443F;
	color: white;
	font-size: 1.2em;
}


#habit-daily{
	margin-top: 2.5%;
  padding: 20px 20px 20px 20px;
  background-color: #333A42;
  border-radius:0 20px 0 20px;


}
#habit-weekly{
  margin-top: 2.5%;
	background-color: #333A40;
  padding: 20px 20px 20px 20px;
  border-radius:0 20px 0 20px;


}

#habit-monthly{

	background-color: #333A42;
  padding: 20px 20px 20px 20px;
  margin-top: 2.5%;
  border-radius:0 20px 0 20px;

}

.icon{
	margin-left: 20px;
	margin-bottom: auto;

}

.habitStatus{
	padding-top: 5px;
	border: transparent;
	margin-top: 5px;
	border-radius: 0 20px 20px 0;
	background-color: rgba(0,0,0, 0.3);
  box-shadow: 10px 10px 5px black;

}



.habitTitle{
	margin-left: 50px;
	font-size: 1.6em;
	color: white;
}
.completed{
	font-size: 1.2em;
	margin-left: 40px;
  color: white;

}


#remove:hover{

  background-color: rgba(215,68,63,0.8);
}

.habit-button {
  display: inline-block;
  padding: 5px 10px;
  font-family: 'Montserrat';
  color: white;
  font-weight: 100px;
  background-color: rgba(0,0,0, 0.8);
  border-radius: 10px;
  font-size: 1em;
  margin-right: 10px;
  border-style: hidden;
}

#tick:hover {
  background-color: rgba(76,175,80, 0.8);
}

.switch{
	float: right;
}

/*The switch*/

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
