<<<<<<< HEAD
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');

body {
	background: #F5F2DC;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
  	overflow-x: hidden;
}

#today{
	padding-right: 50px;
	width:auto;
	font-weight: 500;
	font-size: 2.4em;
	margin-bottom: 20px;
	border: 1px solid #ff5729;
	background:#ff5729;
	border-radius:0 20px 20px 0;
	box-shadow: 10px 10px 5px grey;
	display: inline-block;
}

.category, .input{
	margin-left:50px;
}

.bootstrap-select{
	max-width: 200px;
}

.bootstrap-select .btn{
	margin-bottom: 10px;
	font-size: 1.2em;

}

.category, .input, .button{
    display: inline;
}

#insert{
	border: 1px solid #009494;
	background:#009494;
	border-radius:0 20px 0 20px;
	box-shadow: 10px 10px 5px grey;
		
}


#insert h2{
	margin-left: 20px;
}

input[type="text"], input[type = "number"]{
	background: transparent;
	margin-left: 50px;	 
	border: 0;
	border-bottom: 1px solid #333;
	font-family: 'Lato', sans-serif;
	color: #333;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
}

input[type = "number"]{
	width: 130px;	
}

#addHabit{
	padding: 8px;
	border: 0;
	border-radius: 5px;
	margin-left: 100px;
	background: #454445;
	color: #F5F2DC;
	font-size: 1.2em;
}

=======
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');

body {
	background: #F5F2DC;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
  	overflow-x: hidden;
}

#today{
	padding-right: 50px;
	width:auto;
	font-weight: 500;
	font-size: 2.4em;
	margin-bottom: 20px;
	border: 1px solid #ff5729;
	background:#ff5729;
	border-radius:0 20px 20px 0;
	box-shadow: 10px 10px 5px grey;
	display: inline-block;
}

.category, .input{
	margin-left:50px;
}

.bootstrap-select{
	max-width: 200px;
}

.bootstrap-select .btn{
	margin-bottom: 10px;
	font-size: 1.2em;

}

.category, .input, .button{
    display: inline;
}

#insert{
	border: 1px solid #009494;
	background:#009494;
	border-radius:0 20px 0 20px;
	box-shadow: 10px 10px 5px grey;
		
}


#insert h2{
	margin-left: 20px;
}

input[type="text"], input[type = "number"]{
	background: transparent;
	margin-left: 50px;	 
	border: 0;
	border-bottom: 1px solid #333;
	font-family: 'Lato', sans-serif;
	color: #333;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
}

input[type = "number"]{
	width: 130px;	
}

#creator{
	padding: 8px;
	border: 0;
	border-radius: 5px;
	margin-left: 100px;
	background: #454445;
	color: #F5F2DC;
	font-size: 1.2em;
}

>>>>>>> e4ced0af3e2ab74bdaf771cb7b4cc7fafd681974
