
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Habit Tracker</title>

<!-- css -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="style.css">

<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-- handlebars.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>



</head>

<header class="tracker-page-header">
	<nav>
		<div class="row">
            <a href="/"><img src="images/logo.png" class="logo tracker-page-logo"></img></a>
            <ul class="navlinks">
              <a href="/logout"><li>Logout</li></a>
              <a href="/habit" id="page"><li>Habit tracker</li></a>
              <a href="/" id="homeButton"><li>Home</li></a>
            </ul>
		</div>
	</nav>
</header>

<body class="habit-body">

<section class="profile">
		<div class="profileDiv">
			<div class="userInfo">
				<ul>
					<li><span class="usernamep label">Username:</span> <span class="usernamep2"><%=userinfo.userName%></span></li>
				</ul>
			</div>
			<div class="profilePic"><img src='images/face.jpg'></div>

			<div class="userlevel"><input type="button" class="levelup" value="Level up"></input></div>
			<div class="point-display">
      		<div class="userPoints">
			  <div class="points">
				  <div class="point1">Points</div>
				  <div class="point2"><span id="accpoints"></span></div>
			  </div>
	  		</div>
      		<div class="userPoints">
		  		<div class="points">
			  	<div class="point1">Level</div>
			  	<div class="point2"><span id="acclevel"></span></div>
		  		</div>
	  		</div>
			</div>
		</div>
</section>


<div class="grid-container">
  <div id="today"></div>
	<div id="insert">
		<h2>Hi <%=userinfo.fname%>! Let's Get Started with a New Habit... </h2>
		<div class="category">
			<p class="label">Category</p>
			<select class="selectpicker category show-tick" id="category">
				<option value= "1">Efficiency</option>
				<option value= "2">Health</option>
				<option value= "3">Hobbies </option>
				<option value= "4">Sports</option>
				<option value= "5">Study</option>
			</select>
			<p class="label">Duration</p>
			<select class="selectpicker category show-tick" id="timeframe">
				<option value= '1' >Daily</option>
				<option value= '2'>Weekly</option>
				<option value= '3'>Monthly</option>
			</select>
		</div>
		<div class ="input">
			<p class="label">Habit Title</p>
			<input class="habit-input-text" type = "text" id = "title" value="" placeholder="Type Here">
		</div>
		<div class = "button"><button id= "addHabit">Add Habit</button></div>
	</div>
	<div class="habit-tracker">
		<div id="habit-container"><h1>Daily habits</h1><div id="habit-daily"></div></div>
		<div id="habit-container"><h1>Weekly habits</h1><div id="habit-weekly"></div></div>
		<div id="habit-container"><h1>Monthly habits</h1><div id="habit-monthly"></div></div>
	</div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <p class="errormsg" id="habitmsg"></p>
  </div>

</div>




</body>

</html>
<script id="entry-template" type="text/x-handlebars-template">
	<div class="habitStatus" data-id="{{data}}">
		<input type="button" class="habit-button remove" data-id="{{data}}" value="Remove">
		<div class="icon"><img src="{{imgURL}}"></div>
		<div class="habitTitle">{{title}}</div>
		<div class="completed">{{streak}} {{time}}</div>
		<div class="switch">
			<button class="habit-button tick" data-id="{{data}}" id="{{data}}" {{disabled}}>{{status}}</button>
		</div>
	</div>
</script>


<script>
    var d = new Date();
    function formatDate(date) {
        var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var day = date.getDate();
        var dayIndex = date.getDay();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + ' ' + monthNames[monthIndex] + ' ' + year + ', ' + dayNames[dayIndex];
    }
    document.getElementById("today").innerHTML = formatDate(d);


// Client-side templating
var icons = ["https://png.icons8.com/ios/30/27ae60/clock-filled.png",
			"https://png.icons8.com/ios/30/c0392b/heart-health-filled.png",
			"https://png.icons8.com/ios/30/f1c40f/christmas-star-filled.png",
			"https://png.icons8.com/ios/30/d35400/exercise-filled.png",
			"https://png.icons8.com/ios/30/1abc9c/saving-book-filled.png"];


function addContent(category, titlename, timeFrame, streak, dataid, completed){

  var contentTemplate = Handlebars.compile($('#entry-template').text());

  var contentElement;
  var status = '';
  var disabled = '';

  if(completed){
      status = "Completed";
      disabled = "disabled";
  } else {
		status = '\u2713';
	}

    //use switch statement to adjust habit row
  var habitTime;
    switch (timeFrame) {
	case 1:
		contentElement = $('#habit-daily');
    habitTime = "Times";
		break;
	case 2:
		contentElement = $('#habit-weekly');
    habitTime = "Times";
		break;
	case 3:
		contentElement = $('#habit-monthly');
    habitTime = "Times";
		break;
	default:
    habitTime = "Times";
		contentElement = $('#habit-daily');
  }

  var newHabit = contentTemplate({
    imgURL: icons[parseInt(category)-1],
    title: titlename,
    streak: streak,
    data: dataid,
    time: habitTime,
	disabled: disabled,
	status: status
  });

		contentElement.html(newHabit + contentElement.html());


}





$(function(){
  //This function runs when page is loaded.
  //Populates existing user data from database.
  loadUserData();
  function loadUserData(){
    //modal open
    updateUserData();
    loadUserHabits();
    //modal Close

  };
	
  function loadUserHabits(){
    $.ajax( { url: "/api/user/loadHabit",
		  type: "GET",
      success: function(data){

        var i = 0;
        for (var habit in data) {
          addContent(data[i].category, data[i].title, data[i].timeFrame, data[i].streak, data[i]._id, data[i].completed);

          i++;
        }

      },
      error: function(xhr, status, err){
        console.log(err);

      }

    } );

  };

  $('#addHabit').on('click', function(){

    if(habitValid()){

    $.ajax( { url: "/api/user/addhabit",
		  data:{
        "category": $('#category').val(),
        "title": $('#title').val(),
        "timeFrame": $('#timeframe').val(),
        "streak": 0,
        "userID": '<%=userinfo.userName%>'
      },
		  type: "POST",
      success: function(data){
        addContent($('#category').val(), $('#title').val(), parseInt($('#timeframe').val()), 0, data._id);
        $('#title').val('');


      },
      error: function(xhr, status, err){
        console.log(err);
      }

      } );
    }


  });

  $('body').on('click', '.tick' , function(e){
      e.preventDefault();
      var dataid = $(this).data('id');

      $('#'+ dataid).html("Completed");
      $('#'+ dataid).attr("disabled", "disabled");

      $.ajax( { url: "/api/user/addStreak",
  		  data:{
          "habitID": dataid
        },
  		  type: "POST",
        success: function(data){
          //var currentStreak = $('.habitStatus[data-id='+dataid+']').data('str');
          $('.habitStatus[data-id='+dataid+']').find('.completed').text(data.streak+" Times");

          updateUserData();

        },
        error: function(xhr, status, err){
          console.log(err);
        }

      } );
  });


  $('body').on('click', '.remove' , function(e){
      e.preventDefault();
      var dataid = $(this).data('id');
      $.ajax( { url: "/api/user/removeHabit",
        data: {
          "habitID": dataid
		},
        type: "POST",
        success: function(data){
          $('.habitStatus[data-id='+dataid+']').remove();
          $('.errormsg').html('Habit Removed');
          $('.modal').css('display', 'block');

        },
        error: function(xhr, status, err){
          console.log(err);
        }

      } );

  });


  function habitValid(){
    //can use negative switch to display error messages
    if($('#category').val() && $('#timeframe').val() && $('#title').val()){

      return true;

    } else {
      $('.errormsg').html('Please fill in all the fields');
      $('.modal').css('display', 'block');
      return false;

    }


  };
  function levelup(){

    $.ajax( { url: "/api/user/levelup",
		  type: "GET",
      success: function(data){

        updateUserData();
      },
      error: function(xhr, status, err){
        console.log(err);

      }

    });



  };

  function updateUserData(){

    $.ajax( { url: "/api/user/data",
		  type: "GET",
      success: function(data){
        $('#acclevel').html(data.level);
        $('#accpoints').html(data.points);

      },
      error: function(xhr, status, err){
        console.log(err);

      }

    });



  };

  $('.levelup').on('click', function(){
    if(parseInt($('#accpoints').html()) >= 100){
    levelup();
    $('.errormsg').html('Congratulations! You\'ve leveled up');
    $('.modal').css('display', 'block');
  } else {

    $('.errormsg').html('You need 100 Points to level up');
    $('.modal').css('display', 'block');

  }
  });


  $('.modal').on('click', function(){
    $('.modal').css('display', 'none');
  });



});
</script>
