<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/grid.css">
  <link rel="stylesheet" type="text/css" href="habitstyle2.css">
  <script src="javascript/animations.js"></script>
  <title>1health</title>

</head>
<body>
    <header>
        <nav>
          <div class="row">
            <a href="https://secure-inlet-12796.herokuapp.com" class="logo"><h1>1Health</h1></a>
            <ul class="navlinks">
              <a href="#"><li>Login</li></a>
              <a href="https://secure-inlet-12796.herokuapp.com/habit" id="page"><li>Habit tracker</li></a>
              <a href="https://secure-inlet-12796.herokuapp.com"><li>Home</li></a>
            </ul>
          </div>


        </nav>



    </header>
		<section class="profile">
			<div class="profileDiv">
			<div class="profilePic"><img src='images/face.jpg'></div>
			<div class="profilePic2"><ul><li>Name: <%=userData[1].name%> </li><li>Streak: <%=userData[1].streak%></li><li>Goals Achieved:  <%=userData[1].goals%></li></ul></div>
			<div class="profilePic3">Points:  <%=userData[1].points%></div>
		</div>
		</section>

		<section class="habit">
			<div>
				<ul>
					<li><input type="text"></input>
					</li>
					<li>
						<select class="selectpicker category show-tick" id="category">
					<option selected>Category...</option>
					<option value="efficiency">Efficiency</option>
					<option value="health">Health</option>
					<option value="hobbies">Hobbies </option>
					<option value="sports">Sports</option>
					<option value="study">Study</option>
				</select>
					</li>
					<li><input type="submit" value="Add Habit" class="butt"></li>
				</ul>


			</div>
		</section>
		<!--
		<section class="habit-tab">
			<div class= "tabs">
				<ul>
					<li><input type="checkbox" name="Monday" value="Monday">Monday</input></li>
					<li><input type="checkbox" name="Tuesday" value="Tuesday">Tuesday</input></li>
					<li><input type="checkbox" name="Wednesday" value="Wednesday">Wednesday</input></li>
					<li><input type="checkbox" name="Thursday" value="Thursday">Thursday</input></li>
					<li><input type="checkbox" name="Friday" value="Friday">Friday</input></li>
					<li><input type="checkbox" name="Saturday" value="Saturday">Saturday</input></li>
					<li><input type="checkbox" name="Sunday" value="Sunday">Sunday</input></li>
				</ul>


			</div>
		</section>
-->

</body>
<html>
