<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/grid.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>1health</title>

</head>
<body>
    <header>
        <nav>
          <div class="row">
            <a href="#" class="logo"><h1>1Health</h1></a>
            <ul>
              <a href="#"><li>Home</li></a>
            </ul>
          </div>


        </nav>

          <div class="row" id="comingSoon">
            <h1>COMING SOON</h1>
            <p>Hoping to keep track of your daily routine to make the most out of your 24 hours?
        Too busy to keep track of your meals?
        Well, here at 1health we are all about helping you streamline your path to a healthier life.</p>
            <label for="email">Email: </label>
            <input type="text" placeholder="Email" id="email"></input>
            <button class="butt" type="submit">Notify me</button>
          </div>



    </header>
    <div class="footer">
      <p>Developed by David Phan, Wan Fong Sou, Jasmine Tan</p>
    </div>

</body>
<html>
