<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/grid.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>1health</title>

</head>
<body>
    <header>
        <nav>
          <div class="row">
            <a href="#" class="logo"><h1>One Health</h1></a>
            <ul>
              <a href="#"><li>Home</li></a>
            </ul>
          </div>


        </nav>

          <div class="row" id="comingSoon">
            <h1>COMMING SOON</h1>
            <label for="email">Email: </label>
            <input type="text" placeholder="Email" id="email"></input>
            <button class="butt" type="submit">Notify me</button>
          </div>

    </header>

</body>
<html>
