<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="grid.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>OneHealth</title>

</head>
<body>
    <header class="homepage">
        <nav>
          <div class="row">
            <a href="/"><img src="images/logo.png" class="logo"></img></a>
            <ul class="navlinks">
              <a href="/login" id="navlogin" ><li class = 'login'>Login</li></a>
              <a href="/habit"><li>Habit Tracker</li></a>
              <a href="/" id ="homeButton"><li>Home</li></a>
            </ul>
          </div>


        </nav>

          <div class="row" id="welcome">
            <h1>Create a Healthier Life Through the Healthy App.</h1>

            <input class="butt" type="button" value="About us" onclick="location.href='#about'"></br>
            <input class="butt" type="button" value="Habit Tracker" onclick="location.href='/habit'">

          </div>

    </header>

<!-- ***************************** ABOUT US ************************ -->
    <section class="section-about full-section homepage" id="about">
      <h1 class="section-headers">About us</h1>
      <h2>Hoping to keep track of your daily routine every day? <br>
          At here, <i>One Health</i>, we are all about helping you streamline your path to a healthier lifestyle. </h2>
      <div class="aboutus clearfix">
        <ul>
            <li><h3>Who are we?</h3><img src='images/who4.png'><p>A group of students currently studying INFO30005</p></li>
        <li><h3>our aim</h3><img src='images/care.png'><p>Assist you in keeping your daily routine in check and to aspire you to stay motivated and healthy</p></li>
            <li><h3>our service</h3><img src='images/services2.png'><p>A habit tracker presented on daily, weekly and monthly sections</p></li>
        </ul>

      </div>

      <input class="butt2" type="button" value="Learn More" onclick="location.href='#'"></input>


    </section>


<!-- ***************************** HABIT TRACKER INFO ************************ -->

    <section class="section-habit full-section homepage" id="habit">
        <h1 class="section-headers">Our Habit Tracker</h1>


      <div class="row habit-parent">
      <div class="habit-div"><img src='images/template.png'></div>
      <div class="habit-div">

        <ul>
           <li>Track up to 10 habits</li>
           <li>Display in three intervals - daily, weekly, monthly</li>
           <li>Earn points to unlock more features</li>
           <li>Easy to use UI</li>
           <li>Available 24/7</li>

        </ul>


        <div><input class="butt2" type="button" value="Get Started Now!" onclick="location.href='/habit'"></div>

      </div>

      </div>


    </section>



</body>
<script>
$(function(){
  if(<%=status.loggedIn%>){
    
    $('.login').html('Logout');
    $('#navlogin').attr("href", "/logout");

  }
});
</script>
<html>
