<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/grid.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="javascript/animations.js"></script>
  <title>1health</title>

</head>
<body>
    <header>
        <nav>
          <div class="row">
            <a href="#" class="logo"><h1>1Health</h1></a>
            <ul class="navlinks">
              <a href="#"><li>Login</li></a>
              <a href="#"><li>Habit tracker</li></a>
              <a href="#"><li>Home</li></a>
            </ul>
          </div>


        </nav>

          <div class="row" id="welcome">
            <h1>Welcome to 1health</h1>
            <p>Hoping to keep track of your daily routine to make the most out of your 24 hours?
        Too busy to keep track of your meals?
        Well, here at 1health we are all about helping you streamline your path to a healthier life.</p>

            <input class="butt" type="button" value="About us" onclick="location.href='#about'"></input>
            <input class="butt" type="button" value="Habit tracker" onclick="location.href='#habit'"></input>

          </div>

    </header>

<!-- ***************************** ABOUT US ************************ -->
    <section class="section-about full-section" id="about">
      <h1 class="section-headers">About us</h1>
      <div class="aboutus clearfix">
        <ul>
        <li><img src='images/who2.png'><p>Who we are blah blah blah</p></li>
        <li><img src='images/heart3.png'><p>Our aim is too doo this and this</p></li>
        <li><img src='images/services.png'><p>Our services include webapp blah </p></li>
        </ul>

      </div>

      <input class="butt" type="button" value="Learn more" onclick="location.href='#'"></input>


    </section>


<!-- ***************************** HABIT TRACKER INFO ************************ -->

    <section class="section-habit full-section" id="habit">
      <h1 class="section-headers">Our habit tracker</h1>


      <div class="row">

      <div class="habit-div"><img src='images/services.png'></div>
      <div class="habit-div">
      
        <ul>
           <li>need a better picture features blah.. (Explanation)</li>
           <li>features features blah (Explanation)</li>
           <li>features features blah. (Explanation)</li>

        </ul>


        <input class="butt" type="button" value="Sign up" onclick="location.href='#'"></input>

    </div>

      </div>


    </section>



</body>
<html>
