<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/grid.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="javascript/animations.js"></script>
  <title>1health</title>

</head>
<body>
    <header>
        <nav>
          <div class="row">
            <a href="#" class="logo"><h1>1Health</h1></a>
            <ul class="navlinks">
              <a href="#"><li>Login</li></a>
              <a href="#"><li>Habit tracker</li></a>
              <a href="#"><li>Home</li></a>
            </ul>
          </div>


        </nav>

          <div class="row" id="welcome">
            <h1>Welcome to 1Health</h1>
            <p>Hoping to keep track of your daily routine every day?
        Well, look no further; here, at 1Health, we are all about helping you streamline your path to a healthier lifestyle.</p>

            <input class="butt" type="button" value="About us" onclick="location.href='#about'"></input>
            <input class="butt" type="button" value="Habit tracker" onclick="location.href='#habit'"></input>

          </div>

    </header>

<!-- ***************************** ABOUT US ************************ -->
    <section class="section-about full-section" id="about">
      <h1 class="section-headers">About us</h1>
      <div class="aboutus clearfix">
        <ul>
        <li><img src='images/who2.png'><p>Get to know us - who we are and what we are studying</p></li>
        <li><img src='images/heart3.png'><p>Our aim is to assist you in keeping your day-to-day routine in check and 
        to aspire you to be moivated each day</p></li>
        <li><img src='images/services.png'><p>Our services include a habit tracker and a summary board</p></li>
        </ul>

      </div>

      <input class="butt2" type="button" value="Learn more" onclick="location.href='#'"></input>


    </section>


<!-- ***************************** HABIT TRACKER INFO ************************ -->

    <section class="section-habit full-section" id="habit">
      <h1 class="section-headers">Our habit tracker</h1>


      <div class="row">

      <div class="habit-div"><img src='images/services.png'></div>
      <div class="habit-div">

        <ul>
           <li>need a better picture features blah.. (Explanation)</li>
           <li>features features blah (Explanation)</li>
           <li>features features blah. (Explanation)</li>

        </ul>


        <input class="butt2" type="button" value="Sign up" onclick="location.href='#'"></input>

    </div>

      </div>


    </section>



</body>
<html>
