
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Habit Tracker</title>

<!-- css -->

<link rel="stylesheet" href="style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>

<header>
        <nav>
          <div class="row">
            <a href="/"><img src="images/logo.png" class="logo"></img></a>
            <ul class="navlinks">
              <a href="/login"><li>Login</li></a>
              <a href="/habit" id="page"><li>Habit tracker</li></a>
              <a href="/"><li>Home</li></a>
            </ul>
          </div>
        </nav>
        <div class="form">
        <form method="POST" id="login">
        <h1>Login</h1>
        <h2 class="error">Username or password is incorrect</h2>
        <input class="input-text" id="user" type="text" name="userName" placeholder="Username"></input>
        <input class="input-password" id="pass" type="password" name="password" placeholder="Password"></input>
        <p>Don't have an account? Create one for free <a href='/signup'>here</a>.</p>
        <input type="submit" class="butt" value="Login"></input>
        </form>
        <!-- <button id="test" class="butt">TESTER</button> -->
      </div>
</header>
<body>


</body>



</html>

<script>
$(function(){

  $('#test').on('click', function(){

    var username = $('#user').val();
    var password = $('#pass').val();

    $.ajax( { url: "https://api.mlab.com/api/1/databases/user/collections/my-coll?q={'userName': '"+username+"'}&apiKey=LuB39tFnIwmJZahnfmYhmq-lThiB_weW",
		  data: JSON.stringify( {
        "userName": username,
        "password": password
      } ),
		  type: "GET",
		  contentType: "application/json",
      success: function(data){

        alert(data[0].userName);


      },
      error: function(xhr, status, err){

        console.log(err)

      }

    } );

  });


});




</script>
