
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Habit Tracker</title>

<!-- css -->

<link rel="stylesheet" href="style.css">


</head>

<header>
        <nav>
          <div class="row">
            <a href="/"><img src="images/logo.png" class="logo"></img></a>
            <ul class="navlinks">
              <a href="/login"><li>Login</li></a>
              <a href="/habit" id="page"><li>Habit tracker</li></a>
              <a href="/"><li>Home</li></a>
            </ul>
          </div>
        </nav>
        <div class="form">
        <form method="POST" id="login">
        <h1>Login</h1>
        <input class="input-text" type="text" name="userName" placeholder="Username"></input>
        <input class="input-password" type="password" name="password" placeholder="Password"></input>
        <p>Don't have an account? Create one for free <a href='/signup'>here</a>.</p>
        <input type="submit" class="butt" value="Login"></input>
        </form>
      </div>
</header>
<body>


</body>



</html>
