
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>

<!-- css -->

<link rel="stylesheet" href="style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>

<header>
        <nav>
          <div class="row">
            <a href="/"><img src="images/logo.png" class="logo"></img></a>
            <ul class="navlinks">
              <a href="/login"><li class="login">Login</li></a>
              <a href="/habit" id="page"><li>Habit tracker</li></a>
              <a href="/" id="homeButton"><li>Home</li></a>
            </ul>
          </div>
        </nav>
        <div class="form">
        <form method="POST" id="login">
        <h1>Login</h1>
        <div id="error"></div>
            <p class="label">Username</p>
        <input class="input-text" id="user" type="text" name="userName">
            <p class="label">Password</p>
        <input class="input-password" id="pass" type="password" name="password">
        <p>Don't have an account? Create one for free <a href='/signup'>here</a>.</p>
        <input type="submit" value="Login" id="login-btn" class="butt">

        </form>

      </div>
</header>
<body>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p class="errormsg"></p>
    </div>

  </div>

</body>



</html>


<script>
$(function(){


  $('#login-btn').on('click', function(e){

    var username = $('#user').val();
    var passw = $('#pass').val();
    e.preventDefault();
    $.ajax( {
      url: "/api/authLogin",
      type: "POST",
      data: {
        userName: username,
        password: passw
      },
      success: function(data){
        if(data==true){
          $('#login').submit();
        } else {
          $('.errormsg').html('Username or password is incorrect.');
          $('.modal').css('display', 'block');
        }
      },
      error: function(xhr, status, err){


      }

    } );

  });


  $('.close').on('click', function(){
    $('.modal').css('display', 'none');
  });
  $(window).on('click', function(){
    $('.modal').css('display', 'none');
  });

});



</script>
