
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>

<!-- css -->

<link rel="stylesheet" href="style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>

<header>
        <nav>
          <div class="row">
            <a href="/"><img src="images/logo.png" class="logo"></img></a>
            <ul class="navlinks">
              <a href="/login"><li class="login">Login</li></a>
              <a href="/habit" id="page"><li>Habit tracker</li></a>
              <a href="/"><li>Home</li></a>
            </ul>
          </div>
        </nav>
        <div class="form">
        <form method="POST" id="login">
        <h1>Login</h1>
        <div id="error"></div>
        <input class="input-text" id="user" type="text" name="userName" placeholder="Username"></input>
        <input class="input-password" id="pass" type="password" name="password" placeholder="Password"></input>
        <p>Don't have an account? Create one for free <a href='/signup'>here</a>.</p>
        <input type="submit" value="Login" id="login-btn" class="butt"></input>

        </form>

      </div>
</header>
<body>


</body>



</html>


<script>
$(function(){
  

  $('#login-btn').on('click', function(e){

    var username = $('#user').val();
    var passw = $('#pass').val();
    e.preventDefault();
    $.ajax( {
      url: "/api/authLogin",
      type: "POST",
      data: {
        userName: username,
        password: passw
      },
      success: function(data){
        if(data==true){
          $('#login').submit();
        } else {
          //var errorTemplate = Handlebars.compile($('#error-template').text());
          $('#error').html('<h2 class="error">Username or password is incorrect</h2>')
        }
      },
      error: function(xhr, status, err){


      }

    } );

  });


});

</script>
