
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sign up</title>

<!-- css -->

<link rel="stylesheet" href="style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<header>
        <nav>
          <div class="row">
            <a href="/"><img src="images/logo.png" class="logo"></img></a>
            <ul class="navlinks">
              <a href="/login"><li>Login</li></a>
              <a href="/habit" id="page"><li>Habit tracker</li></a>
              <a href="/"><li>Home</li></a>
            </ul>
          </div>
        </nav>
        <div class="form">
        <form method="POST" id="signup">
        <h1>Create account</h1>
        <div id="error"></div>
        <input class="input-text" id="fname" type="text" name="fname" placeholder="First Name" required></input>
        <input class="input-text" id="lname" type="text" name="lname" placeholder="Last Name" required></input>
        <input class="input-email" id="email" type="email" name="email" placeholder="Email" required></input>
        <input class="input-text" id="user" type="text" name="userName" placeholder="Username" required></input>
        <input class="input-password" id="passw" type="password" name="password" placeholder="Password" required></input>
        <p>Already have an account? Login <a href='/login'>here</a>.</p>
        <input id="sign-btn" type="button" class="butt" value="Sign up"></input>
        </form>
      </div>
</header>
<body>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p class="errormsg"></p>
    </div>
  </div>

</body>



</html>
<script>

$(function(){


  $('#sign-btn').on('click', function(e){
    if(required() && validateEmail($('#email').val())){
    var username = $('#user').val();
    $.ajax( {
      url: "/api/authUser",
      type: "POST",
      data: {
        userName: username
      },
      success: function(data){

          if(data){
              checkEmail();
          } else {

            $('.errormsg').html('Username already exists');
            $('.modal').css('display', 'block');
          }
       //bracket removal
      },
      error: function(xhr, status, err){


      }

    });//ajax
  }

  });


  function required(){

    if($('#fname').val() && $('#lname').val() && $('#user').val() && $('#email').val() && $('#passw').val()){
        return true;
    } else {
      $('#error').html('<h2 class="error">All fields are required</h2>');
      return false;
    }
  }

  function validateEmail(email) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,10})?$/;
      if(!emailReg.test(email)){
        $('#error').html('<h2 class="error">Please enter a valid email</h2>');
        return false;

      } else {


        return true;
      }
  }



function checkEmail() {

  var Email = $('#email').val();
  $.ajax( {
    url: "/api/authEmail",
    type: "POST",
    data: {
      email: Email
    },
    success: function(data){
      if(data){

        $('#signup').submit();

      } else {
        $('.errormsg').html('Email already exists');
        $('.modal').css('display', 'block');

      }
    },
    error: function(xhr, status, err){

    }
  });

}

$('.close').on('click', function(){
  $('.modal').css('display', 'none');
});
$(window).on('click', function(){
  $('.modal').css('display', 'none');
});





});

</script>
